*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.attribution {
  font-size: 0.8125rem;
  text-align: center;
  height: 2.5rem;
  color: white;
  background-color: #0f0f0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attribution a {
  color: #c5cbe2;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 30.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf2f8;
}

@media screen and (max-width: 50rem) {
  main {
    min-height: unset;
    height: auto;
    margin-top: 4.625rem;
    margin-bottom: 6rem;
  }
}

.card {
  width: 45.75rem;
  height: 17.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17.75rem 1fr;
      grid-template-columns: 17.75rem 1fr;
  border-radius: 12px;
  background-color: white;
}

@media screen and (max-width: 50rem) {
  .card {
    width: 86.7%;
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card .thumbnail {
  width: 17.75rem;
  height: 17.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  border-radius: 12px 0px 0px 12px;
}

@media screen and (max-width: 50rem) {
  .card .thumbnail {
    width: 100%;
  }
}

.card .content {
  padding: 2.25rem 2.5rem 0 2.25rem;
}

@media screen and (max-width: 50rem) {
  .card .content {
    padding-bottom: 1.5rem;
    position: relative;
  }
}

.card h1 {
  color: #48556a;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.35;
}

.card p {
  color: #6d7f97;
  font-size: 0.8125rem;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 0.9375rem;
}

.card .author-and-share {
  width: 100%;
  height: 2.5rem;
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 50rem) {
  .card .author-and-share {
    margin-top: 1.875rem;
  }
}

.card .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
}

.card .author .avatar {
  width: 2.5rem;
  height: auto;
  border-radius: 50%;
}

.card .author .name {
  font-size: 0.8125rem;
  color: #48556a;
  font-weight: 700;
}

.card .author .date {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #6d7f97;
}

.card .share {
  position: relative;
}

@media screen and (max-width: 50rem) {
  .card .share {
    position: static;
  }
}

.card .share .share-button {
  border: none;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  cursor: pointer;
}

.card .share .share-button.active {
  background-color: #6e8098;
}

.card .share .share-button.active path {
  fill: white;
}

@media screen and (max-width: 50rem) {
  .card .share .share-button.active {
    position: absolute;
    z-index: 999;
    right: 2.25rem;
    bottom: 0.9375rem;
  }
}

.card .share .pop-over {
  display: none;
}

.card .share .pop-over.active {
  display: block;
  position: absolute;
  width: 15.5rem;
  height: 3.5rem;
  bottom: 3.875rem;
  left: -6.6875rem;
  border-radius: 12px;
  background-color: #48556a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
  z-index: 2;
}

@media screen and (max-width: 50rem) {
  .card .share .pop-over.active {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4rem;
    border-radius: 0 0 12px 12px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 2.25rem;
  }
}

.card .share .pop-over.active .text {
  text-transform: uppercase;
  color: #9eafc2;
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.25rem;
  margin-right: 0.25rem;
}

.card .share .pop-over.active .triangle {
  position: absolute;
  background-color: #48556a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 1.0625rem;
  height: 1.0625rem;
  bottom: -0.53125rem;
}

@media screen and (max-width: 50rem) {
  .card .share .pop-over.active .triangle {
    display: none;
  }
}
